.thumbnail {
  background: $white;
  padding: 10px 10px 20px 10px;
}

.thumbnail > img, .thumbnail a > img {
width: 100%;
}

.thumbnail a:hover {
text-decoration: none;
}

.thumbnail h3 {
  color: $gray-base;
  font-size:$font-size-h4;
}

.card-brand {
  color: $gray-light;
  font-size: $font-size-h6;
  margin-bottom: 20px;

}

.thumbnail h4 {
  color: $brand-primary;
  font-size: $font-size-h4;
  margin-bottom: 20px;
}




.product-details {
  padding-left: 40px;
}

h1.entry-title {
  color: $brand-primary;
}


h2.price {
font-size: 20px;
color: $gray-light;
}

.long-description, .short-description {
  margin: 28px 0;
}
