
.btn-categories .btn {
margin: $padding-large-vertical 0;
}

.nav-pills {
margin: 20px 0;
}


.nav-pills > li > a {
  border: none;
  color: $gray-light;

}

.nav-pills > li > a:hover, .nav-pills > li > a:focus  {
 background-color: $btn-default-bg;
 color: $gray-base;
 box-shadow: none;

}
