.navbar-default .navbar-brand  {

font-weight: 700;
color: #333;
text-transform: uppercase;
letter-spacing: 1px;


}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #333;
}


.breadcrumbs {
  margin: 20px 0;
}
